<html>
  <head></head>
  <body>
  	<form>
  		<input type='text' name='guess' />
  		<input type='submit' value='Guess!' />
	</form>
    	<p>Your guess is <%= message %></p>
		<p>The SECRET NUMBER is <%= answer %></p>
  </body>
 </html>